services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - BASE_DIR=/app
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=your_password
      - DB_NAME=ci_db
      - DB_SSL_MODE=disable
    depends_on:
      db:
        condition: service_healthy

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    ports:
      - "8001:8001"
    volumes:
      - .:/app
    environment:
      - BASE_DIR=/app
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=your_password
      - DB_NAME=ci_db
      - DB_SSL_MODE=disable
    depends_on:
       db:
         condition: service_healthy

  db:
    image: postgres:18-alpine
    ports:
        - "5432:5432"
    environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=your_password
        - POSTGRES_DB=ci_db
    volumes:
        - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
    postgres_data: